<a href="/">Back</a>
<h1>Stars in our DB:</h1>

{{#each celebrity}}
    <section class="celebrity-summary">
        <h2>{{this.name}}</h2>
        <h4>Occupation: {{this.occupation}}</h4>
        <h4>Catchphrase: {{this.catchPhrase}}</h4>
    </section>
{{/each}}

